# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(import.meta.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgres://gitpod:postgres@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py # ← Probably ./app.py when on docker
FLASK_DEBUG=1 # { 0 | 1 }
FLASK_ENV=development # { development | production }
JWT_SECRET_KEY=super-secret-key-change-me
DEBUG=TRUE

# Front-End Variables
VITE_BASENAME=/
#VITE_BACKEND_URL=

# DB Variables
POSTGRES_PASSWORD=postgres
POSTGRES_USER=gitpod
POSTGRES_DB=example